<!-- <div class="well"> -->

 <!--  <div class="row">
    <div class="col-xs-8"> -->
      <h4><%= item.name %></small></h4>
    <!-- </div>
    <div class="col-xs-4"> -->

      <%= form_for cart_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span><%= number_to_currency item.price %></span></h4>
       <!--  <div class="input-group"> -->
          <%= f.number_field :quantity, value: 1, min: 1 %>
          <!-- <div class="input-group-btn"> -->
            <%= f.hidden_field :item_id, value: item.id %>
            <%= f.submit "Add to Cart" %>
<!--           </div>
        </div> -->
      <% end %>
    <!-- </div> -->

  <!-- </div> -->
<!-- </div> -->